# /home/samu2505/HACKATHONS/Plastic-Optics/optics-env
# Virtual environment
plastic-env/
.env
__pycache__/
*.py[cod]
*$py.class
# WandB
wandb/
artifact/
segmentation_artifact/
multi-task-artifacts/
.streamlit/.secrets.toml
